:root {
  --grey: rgba(0, 0, 0, 0.1);
  --white: #fff;
  --white-cyan: #b9f0eb;
  --cyan: #8ec6bf;
  --white-grey: #f8f8f8;
  --dark: #333333;
  --white-red: #f5efe9;
  --red: #a16265;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}

.btn {
  cursor: pointer;
}

input:not(.form-check),
textarea,
select {
  border: none;
  border-radius: 5px;
  padding: 9px 10px;
  font-size: 16px;
  background-color: var(--white-grey);
  width: 100%;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}

.form-input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 5px !important;
  padding: 14px 10px !important;
  font-size: 16px !important;
  width: 100% !important;
  background-color: var(--white) !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-weight: 600;
  margin-bottom: 10px;
}

.card {
  border: 1px solid var(--grey);
  border-radius: 15px;
}
.card input[type=checkbox] {
  height: 17px;
}
.card .card-header {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid var(--grey);
}
.card .card-header .card-title {
  display: flex;
  align-items: center;
}
.card .card-header .card-title h4 {
  margin: 0;
  font-size: 20px;
}
.card .card-header .card-title .counter {
  background-color: var(--white-cyan);
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 12px;
  margin-left: 10px;
  color: var(--cyan);
}
.card .card-header .card-search {
  margin-left: auto;
}
.card .card-header .card-search form {
  display: flex;
  align-items: center;
}
.card .card-header .card-search form input {
  padding-left: 30px;
}
.card .card-header .card-search form img {
  margin-right: -30px;
  position: relative;
  height: 20px;
}
.card .card-body {
  padding-bottom: 20px;
}
.card .card-body.spacing {
  padding: 15px !important;
}

.badge {
  background-color: #edeef0;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}
.badge.badge-danger {
  background-color: var(--white-red);
  color: var(--red);
}

.btn-add {
  padding: 10px 20px;
  background-color: var(--dark);
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 5px;
}

table {
  width: 100%;
  border-spacing: 0;
}
table thead th {
  text-align: left;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 10px 10px;
  border-bottom: 2px solid var(--grey);
}
table tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--grey);
}
table tbody tr td {
  padding: 15px 10px;
  color: var(--dark);
}
table tbody tr td .detail-btn {
  text-decoration: none;
  color: var(--dark);
  padding: 9px 18px;
  border: 1px solid var(--grey);
  border-radius: 7px;
  font-size: 13px;
  font-weight: 600;
}

.pagination {
  display: flex;
  margin-top: 15px;
}
.pagination .pagination-itm {
  display: flex;
  margin-right: 10px;
}
.pagination .pagination-itm a {
  padding: 5px;
  border: 1px solid var(--grey);
  text-decoration: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--dark);
}
.pagination .pagination-itm.active a, .pagination .pagination-itm:hover a {
  background-color: var(--dark);
  color: var(--white);
}
.pagination .pagination-itm.active a img, .pagination .pagination-itm:hover a img {
  filter: brightness(0) invert(1);
}

.card-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.card-form .submit-btn {
  padding: 14px 20px;
  background-color: var(--dark);
  color: var(--white);
  width: 100%;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 5px;
  outline: none;
  border: none;
}

/*# sourceMappingURL=style.css.map */
